@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: #541404;
    font-family: 'Amatic SC', cursive;
    color: #fafafa;
    text-align: center;
}

/* Logo - inspired by the Love Running center image */
#logo-area {
    width: 30%;
    height:fit-content;
    margin: 0 auto;
}

#circle-frame {
    width: 220px;
    height: 220px;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
}


#logo-img {
    background: url('../images/global-citizen-logo.png') center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

#logo-img:hover {
    box-shadow: 0 0.2rem 1.2rem 0;
    transform: scale(1.02);
    transform: transform 100ms;
    cursor: pointer;
}

/* Rules and User information */

label {
    font-size: 120%;
}

#rules-and-user {
    height: 180px;

}

#rules {
    font-size: 150%;
    
}

#user-login {
    font-family: 'Cinzel', serif;
}

#username {
    border-radius: 1%;
    font-size: 130%;
}

hr {
    padding-bottom: 25px;
}

.start-game {
    font-family: 'Cinzel', serif;
    background-color: #fafafa;
    color: #3a3a3a;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    font-size: 120%;
}

.start-game:hover {
    background-color: #05555f;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 0.1rem 1.1rem 0;
    transform: scale(1.01);
    transform: transform 100ms;
}

/* Game area */

#game {
    height: 600px;
    margin-top: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    background: url('../images/pexels-photo-414916.jpeg') center center no-repeat;
    background-size: cover;
}

.game-frame {
    width: 33%;
    height: 88%;
    margin: 0 auto;
    position: relative;
    
    background-color:rgba(241, 234, 226, 0.8);;
    border-radius: 1%;
    font-size: 120%;
    color: #3a3a3a;
}

.questions {
    width: 85%;
    height: 10%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 25px;
    margin-left: 32px;
    font-family: 'Cinzel', serif;
    color: #fafafa;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio {
    visibility: hidden;
}

.answers-container {
    width: 85%;
    height: 55%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 35px;
    margin-left: 32px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers {
    display: flex;
    align-items: center;
    background-color: rgba(241, 234, 226, 0.8);
    width: 90%;
    height: 15%;
    border-radius: 4px;
    margin-top: 25px;
}

.answers:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #05555f;
    transform: scale(1.02);
    transform: transform 100ms; /* Transform code inspired by a Youtube tutorial: https://www.youtube.com/watch?v=f4fB9Xg2JEY */
}

#answer-one {
    margin-top: 0px;
}


.answer-text {
    font-family: 'Cinzel', serif;
}

.scores {
    width: 85%;
    height: 10%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 35px;
    margin-left: 32px;
}

/* Social Section */

footer {
    height: fit-content;
}

.social {
    text-align: center;
    margin: 25px;
    list-style-type: none;
}

.social > li {
    display: inline;
}

.social a {
    color: rgba(241, 234, 226, 0.8);
    margin: 1%;
    padding-top: 1%;
    font-size: 150%;
}

.social a:hover{
    color: #05555f;
}