@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cinzel&family=Crimson+Text&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: #541404;
    font-family: 'Amatic SC', cursive;
    color: #fafafa;
    text-align: center;
}

/* Logo - inspired by the Love Running center image */
#logo-area {
    width: 30%;
    height:fit-content;
    margin: 0 auto;
}

#circle-frame {
    width: 220px;
    height: 220px;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
}


#logo-img {
    background: url('../images/global-citizen-logo.png') center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}

#logo-img:hover {
    box-shadow: 0 0.2rem 1.2rem 0;
    transform: scale(1.02);
    cursor: pointer;
}

/* Rules and User information */

label {
    font-size: 120%;
}

#intro-user {
    height: 180px;

}

#intro {
    font-size: 150%;
    
}

#user-login {
    font-family: 'Cinzel', serif;
}

#username {
    border-radius: 1%;
    font-size: 130%;
}

hr {
    padding-bottom: 20px;
}

.start-game {
    font-family: 'Cinzel', serif;
    background-color: #fafafa;
    color: #3a3a3a;
    border-radius: 40px;
    width: 80px;
    height: 50px;
    font-size: 120%;
}

.start-game:hover {
    background-color: #05555f;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 0.1rem 1.1rem 0;
    transform: scale(1.01);
}

#reset-questions {
    font-family: 'Cinzel', serif;
    background-color: #fafafa;
    color: #3a3a3a;
    border-radius: 40px;
    width: 90px;
    height: 50px;
    font-size: 120%;
    margin-top: 28px;
}

#reset-questions:hover {
    background-color: #05555f;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 0.1rem 1.1rem 0;
    transform: scale(1.01);
}

#hidden-welcome {
    font-family: 'Cinzel', serif;
    font-size: 130%;
    color: #fafafa;
    position: relative;
    top: 35px;
}

.hide {
    display: none;
}

/* Rules area */

#rules-panel {
    width: 33%;
    height: 88%;
    margin: 0 auto;
    position: relative;
    
    background-color:rgba(241, 234, 226, 0.8);;
    border-radius: 1%;
    font-size: 120%;
    color: #3a3a3a;
    display: flex;
}

#rules-panel div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rules-panel h3 {
    font-size: 130%;
    font-family: 'Cinzel', cursive;
    text-transform: uppercase;
    background-color:rgba(5, 85, 95, 0.8);
    color: #fafafa;
    padding: 17px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#rules-panel p {
    font-size: 120%;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Crimson Text', serif;
    color: #3a3a3a;
    border-radius: 50px;
    position: relative;
}

#globe-icon {
    font-size: 150%;
    color: white;
    background-color:rgba(5, 85, 95, 0.8);
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 25px;
}

/* Game area */

#game-panel {
    height: 600px;
    margin-top: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    background: url('../images/globe-background.jpeg') center center no-repeat;
    background-size: cover;
}

#game-frame {
    width: 33%;
    height: 88%;
    margin: 0 auto;
    position: relative;
    
    background-color:rgba(241, 234, 226, 0.8);;
    border-radius: 1%;
    font-size: 120%;
    color: #3a3a3a;
}

.questions {
    width: 85%;
    height: 10%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 25px;
    margin-left: 32px;
    font-family: 'Cinzel', serif;
    color: #fafafa;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-container {
    width: 85%;
    height: 55%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 35px;
    margin-left: 32px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answers {
    display: flex;
    align-items: center;
    background-color: rgba(241, 234, 226, 0.8);
    width: 90%;
    height: 15%;
    border-radius: 4px;
    margin-top: 25px;
}

/* Transform code inspired by a Youtube tutorial: https://www.youtube.com/watch?v=f4fB9Xg2JEY */
.answers:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #05555f;
    transform: scale(1.02);
}

#answer-one {
    margin-top: 0px;
}


.answer-text {
    font-family: 'Cinzel', serif;
    margin-left: 20px;
    width: 100%;
    text-align: left;
}

.scores {
    width: 77%;
    height: 10%;
    background-color: #05555f;
    border-radius: 1%;
    margin-top: 25px;
    margin-left: 32px;
    font-family: 'Crimson-Text', serif;
    color: #fafafa;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

#correct {
    font-family: 'Cinzel', serif;
    font-size: 100%;
    color: #fafafa;
}

#wrong {
    font-family: 'Cinzel', serif;
    font-size: 100%;
    color: #fafafa;
}

#green {
    color: rgb(123, 240, 123);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

#red {
    color: rgb(243, 62, 62);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.disabled {
    pointer-events: none;
}

#next-question {
    cursor: pointer;
}

#next-question:hover {
    transform: scale(1.11);
}

/* Results area */

#results-panel {
    width: 33%;
    height: 58%;
    margin: 0 auto;
    position: relative;
    
    background-color:rgba(241, 234, 226, 0.8);;
    border-radius: 1%;
    font-size: 120%;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: center;
}

#results-panel div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-panel p {
    font-family: 'Crimson Text', serif;
    font-size: 120%;
}

#results-panel h2 {
    font-size: 120%;
    font-family: 'Cinzel', serif;
    text-transform: uppercase;
    color: #3a3a3a;
    margin-bottom: 15px;
}

#play-again {
    font-family: 'Cinzel', serif;
    background-color: #fafafa;
    color: #3a3a3a;
    border-radius: 40px;
    width: 120px;
    height: 50px;
    font-size: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

#play-again:hover {
    background-color: #05555f;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 0.1rem 1.1rem 0;
    transform: scale(1.01);
}

#cheers {
    font-size: 150%;
    color: #05555f;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Social Section */

footer {
    height: fit-content;
}

.social {
    text-align: center;
    margin: 25px;
    list-style-type: none;
}

.social > li {
    display: inline;
}

.social a {
    color: rgba(241, 234, 226, 0.8);
    margin: 1%;
    padding-top: 1%;
    font-size: 150%;
}

.social a:hover{
    color: #05555f;
    transform: scale(1.11);
}


/* Media queries */

/* For screen sizes of 2495px wide and down */
@media screen and (max-width: 2495px){
    .scores{
        padding-left: 25px;
        padding-right: 40px;
        margin-left: 57px;
    }

    .questions {
        margin-left: 57px;
    }

    .answers-container {
        margin-left: 57px;
    }
}

/* For screen sizes of 2360px wide and down */
@media screen and (max-width: 2360px){
    .scores{
        padding-right: 28px;
        margin-left: 45px;
    }

    .questions {
        margin-left: 45px;
    }

    .answers-container {
        margin-left: 45px;
    }
}

/* For screen sizes of 1780px wide and down */
@media screen and (max-width: 1780px){
    .scores{
        padding-right: 20px;
        margin-left: 39px;
    }

    .questions {
        margin-left: 39px;
    }

    .answers-container {
        margin-left: 39px;
    }
}

/* For screen sizes of 1590px wide and down */
@media screen and (max-width: 1590px){
    .scores{
        padding-right: 20px;
        margin-left: 35px;
    }

    .questions {
        margin-left: 35px;
    }

    .answers-container {
        margin-left: 35px;
    }
}

/* For screen sizes of 1280px wide and down */
@media screen and (max-width: 1280px){
    #rules-panel h3 {
        margin-top: 35px;
    }

    .questions {
        font-size: 109%;
    }

    #game-frame {
        font-size: 110%;
    }

    .scores {
        padding-right: 18px;
        padding-left: 18px;
    }
}

/* For screen sizes of 1235px wide and down */
@media screen and (max-width: 1235px){
    .answers-container {
        margin-left: 30px;
    }

    .questions {
        margin-left: 30px;
    }

    .scores {
        margin-left: 30px
    }
}

/* For screen sizes of 1170px wide and down */
@media screen and (max-width: 1170px){
    .scores {
        padding-left: 16px;
        padding-right: 15px;
    }
}

/* For screen sizes of 1120px wide and down */
@media screen and (max-width: 1120px){
    #globe-icon {
        margin-top: 5px;
    }

    .questions {
        margin-left: 32px;
    }

    .answers-container {
        margin-left: 32px;
    }

    .scores {
        margin-left: 32px;
        padding-left: 17px;
    }

    #game-frame {
        width: 40%
    }
}

/* For screen sizes of 990px wide and down */
@media screen and (max-width: 990px) {
    .scores {
        margin-left: 30px;
    }

    .answers-container {
        margin-left: 30px;
    }

    .questions {
        margin-left: 30px;
    }

    #game-frame {
        width: 44%;
    }
}

/* For screen sizes of 936px wide and down */
@media screen and (max-width: 936px){
    #rules-panel p {
        font-size: 110%;
    }

    #globe-icon {
        margin-top: 12px;
    }

}

/* For screen sizes of 873px wide and down */
@media screen and (max-width: 873px) {
    #globe-icon {
        margin-top: 2px;
    }

    #rules {
        margin-top: 30px;
    }

    #intro-user {
        height: 165px;
    }

    #logo-area {
        width: 40%;
    }

    #circle-frame {
        width: 200px;
        height: 200px;
    }

    #intro {
        font-size: 140%;
    }

    #username {
        font-size: 120%;
    }

    label {
        font-size: 115%;
    }

    #game-frame {
        width: 47%;
    }
}

/* For screen sizes of 833px wide and down */
@media screen and (max-width: 833px) {
    .start-game {
        height: 45px;
        width: 80px;
        font-size: 110%;
    }

    #intro-user {
        height: 155px;
    }

    #rules-panel {
        width: 40%;
    }

    #globe-icon {
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #rules-panel div {
        justify-content: center;
    }

    #rules-panel h3 {
        margin-top: 0px;
        font-size: 120%;
    }

    #game-frame {
        width: 50%;
        font-size: 105%;
    }

    #scores {
        padding-right: 15px;
    }
}

/* For screen sizes of 785px wide and down */
@media screen and (max-width: 785px) {
    #game-frame {
        width: 53%;
    }
}

/* For screen sizes of 700px wide and down */
@media screen and (max-width: 700px) {
    #game-frame {
        font-size: 100%;
        width: 58%;
    }
}

/* For screen sizes of 642px wide and down */
@media screen and (max-width: 642px) {
    #rules-panel {
        width: 53%;
    }

    #logo-area {
        width: 45%;
    }

    #game-frame {
        width: 65%;
    }
}

/* For screen sizes of 570px wide and down */
@media screen and (max-width: 570px) {
    #logo-area {
        width: 50%;
    }

    #rules-panel {
        width: 58%;
    }

    #game-frame {
        width: 70%;
    }
}

/* For screen sizes of 520px wide and down */
@media screen and (max-width: 520px) {
    #logo-area {
        width: 60%;
    }

    #game-frame {
        width: 80%;
    }
}

/* For screen sizes of 485px wide and down */
@media screen and (max-width: 485px) {
    #rules-panel {
        width: 62%;
    }

    #rules-panel p {
        font-size: 100%;
    }

    #rules-panel h3 {
        font-size: 110%;
    }

    #globe-icon {
        font-size: 140%;
        padding: 12px;
        margin-top: 15px;
    }

    #logo-area {
        width: 70%;
    }

    #intro {
        font-size: 130%;
    }

    #username {
        font-size: 110%;
    }

    #game-frame {
        width: 100%;
        font-size: 95%;
    }

    .scores {
        padding-right: 13px;
    }

    #hidden-welcome {
        font-size: 120%;
    }

    #results-panel {
        width: 63%;
    }
}

/* For screen sizes of 395px wide and down */
@media screen and (max-width: 395px) {
    #logo-area {
        width: 80%;
    }

    #rules-panel {
        width: 75%;
        align-items: center;
    }

    #intro {
        font-size: 122%;
    }

    #username {
        font-size: 100%;
    }

    label {
        font-size: 110%;
    }

    #intro-user {
        height: 150px;
    }
}

/* For screen sizes of 318px wide and down */
@media screen and (max-width: 318px) {
    #logo-area {
        width: 90%;
    }

    #circle-frame {
        width: 190px;
        height: 190px;
    }    
}

/* For screen sizes of 282px wide and down */
@media screen and (max-width: 282px) {
    #rules-panel p {
        font-size: 85%;
    }

    #intro-user {
        height: 200px;
    }

    #rules-panel h3 {
        font-size: 100%;
        padding: 15px;
    }

    .scores {
        margin-left: 18px;
        padding-left: 12px;
    }

    .answers-container {
        margin-left: 18px;
    }

    .questions {
        margin-left: 18px;
    }

    #results-panel {
        width: 80%;
    }
}