@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* General rules */
* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: #3a3a3a;
    font-family: 'Amatic SC', cursive;
    color: #fafafa;
    text-align: center;
}

/* Logo - inspired by the Love Running center image */
#logo-area {
    width: 30%;
    height:fit-content;
    margin: 0 auto;
}

#circle-frame {
    width: 250px;
    height: 250px;
    padding: 30px;
    border-radius: 50%;
    margin: 0 auto;
}

#logo-img {
    background: url('../images/global-citizen-logo.png') center center;
    background-size: contain;
    height: 100%;
    border-radius: 50%;
}